/* ROOT */

:root {
    --black: #121212;
    --brown: #bea69e;
    --white: #fff;
    --bg-black: #1d1d1d;
    --bg-black-gradient: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
    --trans-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --gray: rgba(255, 255, 255, 0.5);
}

/* GLOBAL STYLES */

html {
    scroll-behavior: smooth;
}

body {
    font-family: DM Sans;
    color: var(--white);

    background-color: var(--black);
}

.container {
    max-width: 335px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}


button {
    cursor: pointer;
}


img,
picture {
    display: block;
    max-width: 100%;
    height: auto;
}

.link,
.list {
    text-decoration: none;
    list-style: none;
}

a,
h1,
h2,
h3,
p,
ul,
ol {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

/* header */

main {
    margin-right: 20px;
    margin-left: 20px;
}


.header {
    margin-bottom: 20px;
}


.header-nav {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.header-nav-right {
    gap: 14px;
    display: flex;

}


.header-logo-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}





/* main */
.main {
    max-width: 335px;
    height: 777px;
    background-color: rgba(29, 29, 29, 1);
    border-radius: 30px;
    margin: 20px auto 80px;

}

.main-lead {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    letter-spacing: -0.04em;
}

.main-lead-span {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    color: rgba(190, 166, 158, 1);


}

.main-text {
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.main-pict {
    margin-bottom: 4px;
}


.main-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-right: 6px;
}

.main-list {
    display: flex;
    gap: 40px;
    padding-left: 20px;
    margin-bottom: 30px;
}

.main-item-link {
    display: flex;
    align-items: center;
}

.main-item-right {
    display: flex;
    gap: 12px;
}

.circle-text-rev {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.5);

}

.main-rudigay {
    margin-right: 30px;
    margin-left: 30px;
}


.br-for-tabl {
    display: none;
}


/* main */






@media only screen and (min-width:768px) {

    .container {
        max-width: 704px;
    }

    main {
        margin-left: 32px;
        margin-right: 32px;
    }

    .br-for-mob {
        display: none;
    }

    .br-for-tabl {
        display: block;
    }

    .main {
        max-width: 704px;
        height: 900px;
        margin: 40px auto 100px;

    }

    .main-lead {
        font-weight: 500;
        font-size: 60px;
        line-height: 1.06;
        letter-spacing: -0.04em;
        padding-left: 32px;
        padding-top: 64px;


    }

    .main-lead-span {
        font-weight: 400;
        font-size: 60px;
        line-height: 1.06;
        letter-spacing: -0.04em;
    }

    .main-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        padding-left: 32px;
    }

    .main-list {
        padding-left: 32px;
        margin-bottom: 40px;
    }

    .main-item-left {
        display: flex;
        align-items: center;
        gap: 12px;

    }

    .circle-text-rev {
        margin-bottom: 8px;
    }

    .main-link {
        font-size: 16px;
        line-height: 1.25;
    }

    .main-rudigay {
        margin-left: 156px;
    }

}

@media only screen and (min-width:1200px) {

    .container {
        max-width: 1080px;
    }

    main {
        margin: 160px 100px 150px;
    }

    .main {
        max-width: 1080px;
        height: 600px;
    }

    .main-lead{
        font-size: 64px;
        padding-top: 80px;
        padding-left: 50px;
    }
    .main-lead-span{
        font-size: 64px;
    }

    .main-text{
        padding-left: 50px;
    }
}